sudo: false
dist: trusty
group: deprecated-2017Q4
language: ruby
cache:
  bundler: true
  directories:
    - /home/travis/.rvm
    - /usr/local/bundle

rvm:
  - 2.6.2
  - 2.6.1
  - 2.6.0
  - 2.5.3
  - 2.5.2
  - 2.5.1
  - 2.5.0
  - 2.4.4
  - 2.4.3
  - 2.4.2
  - 2.4.1
  - 2.4.0

before_install:
  - gem install bundler
  - gem update --system
  - cp .travis/evostream-configuration.yml ~/.evostream-configuration.yml
  - rm Gemfile.lock

script:
  - bundle exec rake spec
  - if [ "$TRAVIS_BRANCH" == "master" ]; then bundle exec rubocop -D; fi
  - if [ "$TRAVIS_BRANCH" == "master" ]; then bundle exec reek; fi

before_deploy:
  - gem install dpl

deploy:
  provider: rubygems
  api_key:
    secure: Vkhh5xBPJ1r1w3m8002wRiMStreBhXiTZwDck+iyMiZf3RqYmqndG7bx3XFvgGuQnKeyEva6FgZ9HuD3zIQ3TFFx7kl79TA6DSmrMfdNH9uauuK+9xSKXa30/E4dnZI7yKr+KsAAwTV0Ay5nlqpJ2r7m3fRsiH+EEZogCgRfd+Qgvu6boKiu9v0sSwE3vSY6RWfrVG3TigKHRWx/omW2Br3r6uTHQU2l/UsGlKCrkycugcmKoBdFN96wsAY07scAtuG4j/rKzSBZjQZGVKus1mBgXjVE6ODinW5h4TtR0w3MtvSsQRF00NHNRbNZDsnnivYhQRWKRVwahSaTlxWvdaxqb4B1bxFXRe4rvjsEsQv5linynz1o1ruHzRLsFuFPPL8An9HopskDyIutn/1Z0NDdM2OTKpMlqr8DbNhP9AXI8k3ld7yLuwHriPLH/xDKU9hBjHBR8Sk0YSjiUxZAvuseK7ktzeRibSseEMo1MZJuD4j3zvPHWVBp/OXRJKhBeTdfGZutH5sbwUe8DKQTnJ3ElQ4VBjHVJ+WWsQGZti0QFHZlMsPgp0K7tHq4gx0cQslq+d6aw6eJvCJdlbCSlKo8o5yKINsi61R3+8AaHpGlsXsbCpU7i7qSTIEc8bHWXQpjr/h7ap9sz39IF6qMpWHn9KJSLP4P/ERkZh8wclk=
  gem: evostream-event
  on:
    repo: Dev-Crea/evostream-event
    all_branches: true
  skip_cleanup: true

notifications:
  email: false
  slack:
    on_success: always
    rooms:
      secure: FE2l+y/mbui9/vH1XWaNK51DQBtRPPaOyrnJz7OUMox26eiLMKPtWYpg0JOVSb2HBMg20EagTgHwzrUWMy57zWfNJwg5CVqAkFv/GUK+FOzG6htvZJ8EiPXV/B/JtlVlV+Bue583jqSACLjFZyU6qTOyMn4EsHPWWsFTAmHiC3TV3VEVwkV4N5JA/YiB3PDzUMtcNV8ikz1m7gbPMosHqqyMiio31vCITKvci9P1gFIDZZex0h9/bVTd1DL7FuRP8YiGnRxGOGK2F7IAcrwggKclVJ6PRpJNzMaKbTOY6yXJHtYoNJThaCI+gGeecSl8Kcx5J5GKhhKqDMKKzbSojl1fAAOV8H0kRa30I+P2qRrp1wdj/KWRgOj+UNtt+17seNTfQC5z3QepSaIYyYvk9PlHCNI2e8NrYTk4nDX2UFqqHWQ8nIRKxqoWSLlrUjEoTRbO6nS6s0vzuvrbcR0vgkI0cvgvJ10tPtPBz7RfVXsPsv+0FqWfGUR3pfxHIsbBh3/TGxcyNA3nAxZKgv6MNpY/YF1NEX9iGwmeNO64gFO4kt4tZG9gXAPAD1LGlWKaeQ91mYe/YNQDiwUuPguAqkfjcR21Wrld4LbSnvcK7HWo0rV3t5ikeGITGsc4Nnthhu9tE/pP63Zhoa1lqLWXZyyti+lWES8Ov7ib5RHKGD4=
